* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  font-family:
    dm sans,
    sans-serif;
}

/* Nav Bar Section */
.nav {
  width: 100%;
  height: 68px;
  background-color: #0a1628;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.35);
}

.nav-brand {
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.nav-logo {
  background: #1a73eb;
  font-size: 1rem;
  width: 38px;
  height: 38px;
  padding-inline: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 800;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.nav-title {
  display: flex;
  flex-direction: column;
  /* gap: .2rem; */
  color: white;
  font-weight: bold;
}

.nav-title span {
  color: grey;
  font-size: 12.5px;
  font-weight: normal;
}

.home-section {
  display: block;
}

.dropdown-menu {
  display: flex;
  position: relative;
}

.dropdown-menu button {
  justify-self: end;
  outline: none;
  border: none;
  color: white;
  background: none;
  position: relative;
  left: 13.5vw;
  z-index: 100;
}

.dropdown {
  position: absolute;
  padding: 0.8rem 0.4rem 1rem 0.8rem;
  top: -90%;
  right: -12.5vw;
  width: 620%;
  background-color: rgba(162, 200, 236, 0.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  -webkit-border-radius: 20px 0 0 5px;
  -moz-border-radius: 20px 0 0 5px;
  -ms-border-radius: 20px 0 0 5px;
  -o-border-radius: 20px 0 0 5px;
  border-radius: 20px 0 0 5px;
}

.open {
  display: flex;
}

.fa-x {
  color: rgb(11, 28, 29);
}

li {
  list-style-type: none;
}

.dropdown li {
  padding-block: 1rem;
  padding-inline: 0.5rem;
  display: flex;
  align-items: center;
}

.home {
  margin-top: 5vh;
  border: 1px solid white;
  background-color: rgb(39, 118, 184);
  border-radius: 10px;
}

.login {
  border: 1px solid white;
  background-color: orange;
  border-radius: 10px;
}

.dropdown li:not(.home, .login) {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #0d47a1;
}

.dropdown li:not(.home, .login) a {
  color: rgb(149, 226, 245);
}

.dropdown li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(19, 32, 105);
  display: block;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

.dropdown li:active {
  background-color: aliceblue;
}

.dropdown li:active a {
  color: black;
}

/* Hero Section */
.hero {
  background:
    radial-gradient(circle, rgba(255, 255, 255, 0.05) 22%, transparent 22%),
    linear-gradient(135deg, #06142e, #0d47a1);
  background-size: 100px 100px;
  padding: 0.5rem 0 1.5rem 1rem;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero h1 {
  color: white;
}

.hero em {
  color: orange;
  font-size: 1.7rem;
}

.hero p {
  color: rgb(184, 179, 179);
  font-size: 1.3rem;
}

.hero-buttons {
  margin-top: 10px;
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-buttons a {
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.hero-buttons a:not(:last-child) {
  background-color: orange;
  color: black;
}

.hero-buttons a:last-child {
  background-color: transparent;
  color: white;
  border: 1px solid rgb(163, 155, 155);
}

.stats-con {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "stat1 stat2"
    "stat3 stat4"
    "stat5 stat5";
}

.stats-con p {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 1rem;
  color: rgb(39, 118, 184);
  font-size: 1.7rem;
  font-weight: bold;
}

.stat1 {
  grid-area: stat1;
}

.stat2 {
  grid-area: stat2;
}

.stat3 {
  grid-area: stat3;
}

.stat4 {
  grid-area: stat4;
}

.stat5 {
  grid-area: stat5;
}

.stats-con span {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  color: grey;
}

.features {
  background: rgb(171, 222, 241);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 150vh;
}

.features .logo {
  background-color: rgb(111, 184, 253);
  width: max-content;
  padding: 0.4rem;
  color: blue;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.features-head {
  display: flex;
  flex-direction: column;
  height: 20vh;
  gap: 0.5rem;
  justify-content: space-around;
}

.features p {
  color: rgb(87, 85, 85);
  font-size: 1.1rem;
}

.features-con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  height: 40vh;
}

.card {
  background: white;
  padding: 1.3rem;
  min-height: 28vh;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgb(111, 184, 253);
}

.card:focus {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.35);
}

.card-icon {
  background-color: skyblue;
  width: max-content;
  padding: 0.5rem;
  font-size: 1.5rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.bell-icon {
  background-color: rgb(243, 220, 87);
  width: max-content;
  padding: 0.5rem;
  font-size: 1.5rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.check-icon {
  background-color: rgb(92, 243, 87);
  width: max-content;
  padding: 0.5rem;
  font-size: 1.5rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.school-icon {
  background-color: rgb(243, 149, 87);
  width: max-content;
  padding: 0.5rem;
  font-size: 1.5rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* Submit Complaint Section */
.submit-complaint {
  min-height: 150vh;
  background-color: #f0f4fb;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 0.5rem; */
  display: none;
}

.complaint-head {
  display: flex;
  flex-direction: column;
}

.complaint-head {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-around;
}

.complaint-head span {
  background-color: rgba(111, 184, 253, 0.5);
  width: max-content;
  padding: 0.4rem;
  color: blue;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.complaint-head h2 {
  font-weight: bold;
  font-size: 1.8rem;
}

.complaint-head p {
  color: rgb(87, 85, 85);
  font-size: 1.1rem;
}

.alert {
  background-color: rgba(0, 174, 255, 0.1);
  border: 1px solid rgba(0, 204, 255, 0.5);
  padding: 1rem;
  display: flex;
  /* align-items: center; */
  gap: 0.5rem;
  border-radius: 10px;
}

.alert .icon {
  font-size: 1.3rem;
  background-color: transparent;
}

.complaint-head .alert p {
  color: rgb(19, 32, 105);
}

.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(252, 252, 252);
  padding: 1rem;
  margin-top: 5%;
  border: 1px solid #cfdffc;
  border-radius: 15px;
}

form {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.form-head p {
  color: grey;
  margin-top: 3%;
  font-size: 0.85rem;
}

.form-container strong {
  color: red;
}

.input-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 27vh;
  margin-top: 10%;
}

.field {
  display: flex;
  flex-direction: column;
  /* width: 50%; */
}

.input-fields input {
  margin-top: 2%;
  outline: none;
  border: 1px solid #d6dae0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.input-fields input::placeholder {
  font-size: 1rem;
  padding-left: 10px;
  color: rgb(177, 171, 171);
}

.name-field {
  justify-self: start;
}

.selection-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  margin-top: 10%;
}

.pick {
  display: flex;
  flex-direction: column;
}

.pick label {
  margin-bottom: 2%;
}

.pick select {
  padding: 0.5rem;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid #d6dae0;
}

.complaints-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 42vh;
  margin-top: 10%;
}

.complaints-container div {
  display: flex;
  flex-direction: column;
}

.complaint-subject input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #d6dae0;
  margin-top: 2%;
}

.complaint-subject input::placeholder{
  font-size: 1rem;
}

.detailed-decription textarea{
  padding: .5rem;
  border: 1px solid #d6dae0;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  border-radius: .5rem;
  margin-top: 2%;
}

.detailed-decription span{
  color: rgba(2, 2, 2, 0.603);
  font-size: .9rem;
  text-align: center;
}

.evidence input{
  /* outline: none; */
  padding: .5rem;
  margin-top: 2%;
  margin-bottom: 1.5%;
  border: 1px solid #d6dae0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.evidence span:last-child{
  color: rgb(71, 71, 71);
  font-size: .8rem;
}

.buttons{
  display: flex;
  margin-top: 5%;
  gap: .5rem;
}

.buttons button{
  padding: 1rem;
  border-radius: 10px;
  outline: none;
  font-size: .9rem;
  border: 1px solid grey;
  font-weight: bold;
  background-color: transparent;
}

.buttons button[type="submit"]{
  background-color: rgb(0, 68, 255);
  color: white;
  font-size: 1rem;
}

/* Footer Styles */
.footer { 
  text-align: center;
  background-color: #0a1628;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  color: grey;
}

.footer p {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(209, 205, 205);
}

.footer p span {
  font-size: 0.8rem;
  color: grey;
  font-weight: normal;
}
